{% extends "../layouts/default.twig" %}
{% block footer %}
    <footer>
        <div class="label_icon">
             <h2>Lorem ipsum</h2>
        </div>
    </footer>
    <script src="js/app.js"></script>
{% endblock %}