{% block nav %}
    <nav class="nav_bottom">
        <ul class="nav__list">
            <li class="active">
                <a href="#">lorem1</a>
            </li>
            <li><a href="#">lorem2</a>
            </li>
            <li>
                <a href="#">lorem3</a>
            </li>
            <li>
                <a href="#">lorem4</a>
            </li>
        </ul>
    </nav>
{% endblock %}